body {
    font-family: 'Poppins', sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 20px;
}

.container {
    width: 90%;
    /* max-width: 900px; */
    margin: auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    border:3px solid blue;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    color: #777;
    margin-bottom: 20px;
}

hr {
    border: none;
    height: 2px;
    background-color: #ddd;
    margin: 20px 0;
}

p {
    font-size: 18px;
    color: #444;
    line-height: 1.7;
    margin-bottom: 40px;
}

/* Buttons group */
.btn-group {
    display: flex;
    gap: 15px;
}

.btn-group a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/* Base button */
button {
    background: #0066ff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 16px;
}

button:hover {
    background: #0044bb;
    transform: translateY(-2px);
}

/* Update button */
.update-btn {
    background: #ffaa00;
}

.update-btn:hover {
    background: #cc8800;
}

/* Delete button */
.delete-btn {
    background: #ff3b3b;
}

.delete-btn:hover {
    background: #c60000;
}
